= simple_form_for @person, :html => { :class => 'form-horizontal' } do |f|
  
  = f.input :name, label: 'Your username please'
  = f.input :email
  = f.input :city, collection: [:Kharkiv, :Dnerp, :Lviv], as: :radio_buttons
  = f.input :phone_number
  = f.input :role, collection: [:probationer, :friend_school, :member], as: :radio_buttons 
  = f.input :status, collection: [:free, :buzy], as: :radio_buttons
  = f.association :groups, as: :check_boxes 
  = f.input :birthday, as: :date
  = f.input :description
  = f.input :date_become_member, as: :date
  = f.input :date_left_membership, as: :date
  = f.input :last_invited_action, as: :date

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), |
      people_path, :class => 'btn'                               |