= render layout: 'shared/people' do |f|
  %div
    = form_tag actions_people_path, :method => :post do
      %table.table.table-striped
        %thead
          %tr
            %th Select
            %th Person
            %th Email
            %th Phone number
            %th Actions
        %tbody#clic2
          - @people.each do |person|
            %tr
              %td= check_box_tag "person_ids[]", person.id
              %td= person.name
              %td= person.email
              %td= person.phone_number
              %td
                = link_to t('.edit', :default => t("helpers.links.edit")), edit_person_path(person), :class => 'btn btn-mini'
                = link_to t('.destroy', :default => t("helpers.links.destroy")), person_path(person), :method => :delete, |
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'
      .clic{:style => "display:none"}
        = submit_tag "Become member", :class => 'btn btn-primary'
        = submit_tag "Become probationer", :class => 'btn btn-primary'
        = submit_tag "Become volontier", :class => 'btn btn-primary'









