<div class="span2">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">People</li>
      <li><a href="#">new person</a></li>
      <li><a href="#">new group </a></li>
      <li><a href="#">groups</a></li>
      <li class="divider"></li>
      <div class="btn-group-vertical">
        <%= link_to "create list", destroy_user_session_path, method: :delete, :class => 'btn btn-inverse' %>
        <%= link_to "create list for journal", destroy_user_session_path, method: :delete, :class => 'btn btn-inverse' %>
        <%= link_to "add to invite", destroy_user_session_path, method: :delete, :class => 'btn btn-inverse' %>
        <%= link_to "last invite ivent", destroy_user_session_path, method: :delete, :class => 'btn btn-inverse' %>
        <%= link_to "become member", destroy_user_session_path, method: :delete, :class => 'btn btn-inverse' %>
        <%= link_to "left membership", destroy_user_session_path, method: :delete, :class => 'btn btn-inverse' %>
        <%= link_to "chenge status", destroy_user_session_path, method: :delete, :class => 'btn btn-inverse' %>
      </div>
    </ul>
  </div>
</div>

<div class="span10">
  <div class="hero-unit">
    <ul class="breadcrumb">
      <li><a href="#">People!</a> <span class="divider">/</span></li>
    </ul>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Select</th>
            <th>Person</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.phone_number %></td>
              <td>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_user_path(user), :class => 'btn btn-mini' %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                            user_path(user),
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                            :class => 'btn btn-mini btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_user_path,
                  :class => 'btn btn-primary' %>
    </div>
  </div>
</div>













