<div class="span2">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">People</li>
      <li><a href="#">new person</a></li>
      <li><a href="#">new group </a></li>
      <li><a href="#">groups</a></li>
      <li class="divider"></li>
      <div class="btn-group-vertical">
        <%= link_to "create list", destroy_user_session_path, method: :delete, :class => 'btn btn-inverse' %>
        <%= link_to "create list for journal", destroy_user_session_path, method: :delete, :class => 'btn btn-inverse' %>
        <%= link_to "add to invite", destroy_user_session_path, method: :delete, :class => 'btn btn-inverse' %>
        <%= link_to "last invite ivent", destroy_user_session_path, method: :delete, :class => 'btn btn-inverse' %>
        <%= link_to "become member", destroy_user_session_path, method: :delete, :class => 'btn btn-inverse' %>
        <%= link_to "left membership", destroy_user_session_path, method: :delete, :class => 'btn btn-inverse' %>
        <%= link_to "chenge status", destroy_user_session_path, method: :delete, :class => 'btn btn-inverse' %>
      </div>
    </ul>
  </div>
</div>

<div class="span10">
  <div class="hero-unit">
    <ul class="breadcrumb">
      <li><a href="#">Home!</a> <span class="divider">/</span></li>
      <li><a href="#">Library!</a> <span class="divider">/</span></li>
      <li class="active">Data!</li>
    </ul>
    <br>
    <div>
      <%- model_class = Product -%>
      <div class="page-header">
        <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
      </div>
      <% form_tag become_member_products_path do %>
<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Price</th>
  </tr>
<% for product in @products %>
  <tr>
    <td><%= check_box_tag "product_ids[]", product.id %></td>
    <td><%=h product.name %></td>
    <td><%=h product.price %></td>
  </tr>
<% end %>
</table>
<%= submit_tag "Edit Checked" %>
<% end %>
    </div>
  </div>
</div>













